body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 50px;
  background-color: #1c1f26;
  color: #ffffff;
  font-weight: 200; /* Negrito */
}

h2 {
  text-align: center;
  color: #37a25c;
  
}


table {
  width: 100%;
  font-size: 15px;
  border-collapse: collapse;
  margin: auto;
  background-color: #1c1f26;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

th, td {
  border: 1px solid #606266;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #101318;
}

.placar {
  position: relative;
  cursor: pointer;
  font-weight: 700; /* Negrito mais forte */
}


.tooltip {
  visibility: hidden;
  width: auto; /* Muda de 100px para auto para ajustar ao tamanho do conteúdo */
  background-color: #fffdfc;
  color: #0a0a0a;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Coloca acima do texto */
  left: 50%;
  transform: translateX(-50%); /* Centraliza horizontalmente */
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 15px; /* Ajuste o tamanho da fonte conforme necessário */
  white-space: nowrap; /* Garante que o texto fique em uma única linha */
}


.placar:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


/*CABEÇARIO
/* Estilo do Cabeçalho */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #fe3c00;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  justify-content: space-between;
}

.logo {
  height: 30px;
}

/* Container dos seletores */
.selectors-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Pequeno espaço entre os seletores */
}

.nav-seletor {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
}

.nav-seletor select {
  background-color: #fe3c00;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 4px;
  font-weight: 500;
  margin-left: 5px;
}

body {
  padding-top: 15px; /* Ajuste conforme a altura do header */
}

/* Links dentro do seletor (opções) ao passar o mouse */
option:hover {
  background-color: #ff8000; /* Cor de fundo ao passar o mouse */
  color: #ffffff; /* Cor do texto */
}

/* Estilo das opções do seletor */
option {
  background-color: #1c1f26; /* Cor de fundo padrão */
  color: #ffffff; /* Cor do texto padrão */
}

.porcentagem-verde {

  color: #03d80a; /* Texto verde escuro */
}

.porcentagem-branca {

  color: #fffcfc; /* Texto vermelho escuro */
}

.seletor-container {
  display: flex;
  justify-content: center; /* Centraliza os seletores */
  margin: 10px 0;
  font-family: 'Roboto', Arial, sans-serif;
}

.seletor-horas,
.seletor-resultado,
.seletor-tipo-placar {
  flex: 0 0 auto; /* Largura automática */
  margin: 0 5px;
  display: flex; /* Adiciona flex para organizar o label e o select */
  flex-direction: row; /* Organiza em linha */
  align-items: center; /* Alinha verticalmente os itens */
}

label {
  margin-right: 5px; /* Espaçamento entre o label e o select */
  font-weight: bold;
  color: #fff7f7; /* Preto para o texto */
}

select {
  width: 100%; /* Largura total do select */
  padding: 5px; /* Menos espaço interno */
  border: 2px solid #000; /* Borda preta */
  border-radius: 3px; /* Borda levemente arredondada */
  background-color: #fff; /* Fundo branco */
  font-size: 14px; /* Tamanho de fonte menor */
  color: #000; /* Texto preto */
  transition: border-color 0.3s;
}

select:focus {
  outline: none;
  border-color: #555; /* Cor da borda quando focado */
}

option {
  padding: 5px; /* Espaçamento dentro das opções */
}

select:hover {
  border-color: #555; /* Cor da borda ao passar o mouse */
}


.coluna-minuto {
  width: 100px;
  height: 50px;
}


.chart-container {
  margin-top: 10px; /* Ajusta o espaço acima do container */
}

#market-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

#market {
  margin-right: 10px; /* Espaçamento entre o seletor e o botão */
  width: 150px; /* Define uma largura fixa para o seletor */
  max-width: 100%; /* Impede que o seletor ultrapasse a largura da tela */
}

#toggle-ranking {
  background-color: #fe3c00; /* Cor de fundo verde */
  color: white; /* Cor do texto */
  border: none; /* Remove bordas */
  padding: 8px 16px; /* Ajusta o espaçamento interno do botão (mais fino) */
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove o sublinhado */
  display: inline-block; /* Permite definir largura e altura */
  font-size: 14px; /* Tamanho da fonte (mais pequeno) */
  margin-left: 10px; /* Espaço à esquerda do botão */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

#toggle-ranking:hover {
  background-color: #862001; /* Cor de fundo quando o mouse está sobre o botão */
}

#ranking {
  display: none;
  margin-top: 20px;
}

#resultDisplay {
  display: flex;
  gap: 10px;
}

#greenPercentage {
  background-color: green;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

#redPercentage {
  background-color: red;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

#resultDisplay {
  display: flex;
  gap: 10px;
}

#totalGols, #mediaGolsHora {
  background-color: #333;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}


button {
  background-color: #fe3c00;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', Arial, sans-serif;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 10px; /* Adiciona uma margem de 10 pixels em todas as direções */
}

button:hover {
  background-color: #d63600; /* Exemplo de um tom mais escuro de laranja/vermelho */
}

.container {
  display: flex;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  text-align: center; /* Centraliza o texto dentro dos elementos */
  margin: 0 auto; /* Margem automática para centralização da div */
  gap: 5px;
}


.container select {
  text-align: center; /* Centraliza o texto dentro do select */
}

h1 {
  text-align: center; /* Centraliza o texto */
  margin: 0; /* Remove margens padrão, se necessário */
  gap: 5px;
}

/* Estilo para o cabeçalho da tabela */
#tabelaEstatisticas th {
  color: #f8f5f3; /* Exemplo de verde escuro para o cabeçalho */
}

/* Estilo para o conteúdo da tabela */
#tabelaEstatisticas td {
  color: #fe3c00; /* Exemplo de verde mais claro para o conteúdo */
  font-weight: 600; /* Espessura mais grossa para o conteúdo */
  background-color: #f8f5f3;
  font-size: 20px;
}



.pizza-container {
  display: flex;
  justify-content: space-evenly; /* Distribui igualmente os gráficos, centralizando o grupo */
  flex-wrap: nowrap; /* Impede quebra de linha */
  overflow-x: auto; /* Permite rolagem horizontal se necessário */
  margin-bottom: 10px;
}

.pizza-chart-container {
  width: 15%; /* Diminui a largura dos gráficos */
  margin: 0; /* Remove margens para evitar espaçamento adicional */
  text-align: center;
}

canvas {
  background-color: #1c1f26;
  height: 200px; /* Define uma altura fixa para os gráficos */
}

.maximaplacar-th {
  background-color: #ffffff;
  color: #fe3c00;
  font-weight: 1000;  /* Aumenta o peso da fonte para um negrito mais forte */
  font-size: 18px;  /* Aumenta o tamanho da fonte do cabeçalho */

}

.maximaplacar-td {
  background-color: #101318;
}

.maximamercado-th {
  background-color: #ffffff;
  color: #fe3c00;
  font-weight: 1000;
  font-size: 18px;
}

.maximamercado-td {
  background-color: #101318;
}

.live-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  
}

/* Estilos para a div do vídeo */
.live {
  display: none; /* Oculta inicialmente */
  margin-top: 10px;
  margin-bottom: 40px; /* Aumenta o espaço após o vídeo */
}

/* Estilos para o container do vídeo */
.live-container {
  position: relative;
}

/* Estilos para o overlay invisível */
.iframe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0); /* transparente */
  z-index: 10; /* Garante que o overlay fique sobre o iframe */
}

.button-container {
  display: flex;
  justify-content: center; /* Centraliza o botão horizontalmente */
}

.live iframe {
  border: none; /* Remove a borda do iframe */
  border-radius: 15px;
}

.live-container {
  border: none; /* Remove a borda do container */

}

p {
  font-size: 10px;
}

        /* Encapsula os estilos apenas na div com a classe "betano-container" */
        .betano-container {
          margin: 0;
          padding: 0;
          height: 100vh; /* 100% da altura da viewport */
          overflow: hidden;
          position: relative;
          
      }
      .betano-container iframe {
          width: 100%;
          height: 100%;
          border: none;
      }

/* Estilo base dos spinners */
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #fe3c00;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* Delays específicos para os spinners */
td:nth-child(1) .loading-spinner {
  animation-delay: 0s;
}
td:nth-child(2) .loading-spinner {
  animation-delay: 0.2s;
}
td:nth-child(3) .loading-spinner {
  animation-delay: 0.4s;
}
td:nth-child(4) .loading-spinner {
  animation-delay: 0.6s;
}
td:nth-child(5) .loading-spinner {
  animation-delay: 0.8s;
}
td:nth-child(6) .loading-spinner {
  animation-delay: 1s;
}
td:nth-child(7) .loading-spinner {
  animation-delay: 1.2s;
}
td:nth-child(8) .loading-spinner {
  animation-delay: 1.4s;
}
td:nth-child(9) .loading-spinner {
  animation-delay: 1.6s;
}
td:nth-child(10) .loading-spinner {
  animation-delay: 1.8s;
}
td:nth-child(11) .loading-spinner {
  animation-delay: 2s;
}
td:nth-child(12) .loading-spinner {
  animation-delay: 2.2s;
}
td:nth-child(13) .loading-spinner {
  animation-delay: 2.4s;
}
td:nth-child(14) .loading-spinner {
  animation-delay: 2.6s;
}
td:nth-child(15) .loading-spinner {
  animation-delay: 2.8s;
}
td:nth-child(16) .loading-spinner {
  animation-delay: 3s;
}
td:nth-child(17) .loading-spinner {
  animation-delay: 3.2s;
}

/* Animação de rotação */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.pizza-container {
  display: flex;
  justify-content: space-evenly; /* Distribui igualmente os gráficos, centralizando o grupo */
  flex-wrap: nowrap; /* Impede quebra de linha */
  overflow-x: auto; /* Permite rolagem horizontal se necessário */

}

.publicidade-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 100%; /* Limita a largura do contêiner */
  padding: 0 16px; /* Adiciona um padding nas laterais */
  margin: 0 auto; /* Centraliza horizontalmente */
  margin-bottom: 25px;
  cursor: pointer;
}

.publicidade-container a img {
  width: 18vw;
  height: auto;
  border-radius: 15px;
  transition: transform 0.3s ease; /* Suaviza a transição do zoom */
}

.publicidade-container a img:hover {
  transform: scale(1.03); /* Aplica um zoom de 3% ao passar o mouse */
}
    
canvas {
  cursor: pointer;
}
  
#resumojogos-charts-container {
  display: flex;
  justify-content: center; /* Centraliza os gráficos horizontalmente */
  align-items: center; /* Centraliza os gráficos verticalmente */
  width: 100%;
  max-width: 1800px;
  gap: 10px;
  overflow: hidden;
  margin: 0 auto; /* Centraliza o container horizontalmente */
  margin-bottom: 30px;
}


.resumojogos-chart-box {
  flex: 1 1 0; /* Faz com que cada gráfico ocupe um espaço igual e se ajuste conforme o tamanho disponível */
  min-width: 70px; /* Define a largura mínima de cada gráfico */
  height: 300px;
  max-width: calc(100% - 20px); /* Garante que os gráficos não ultrapassem a largura do container */
  flex-shrink: 0; /* Impede que os gráficos encolham em telas menores */
}

